<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
</head>
<body>
    <nav>
        <a href="/blogs">Back to the blog list</a>
    </nav>
    <h2>Topic: <%= blog.topic%></h2>
    <h1><%= blog.title%></h1>
    <p><%=blog.content %></p>
    <h3>Author: <%=blog.authorFirstName + ' ' + blog.authorLastName %></h3>
    <h4>E-mail: <%=blog.email %></h4>
    <h4>phone: <%=blog.phone %></h4>
    <!-- <img src="<%= blog.image %>" alt="image"> -->
     <div>
        <form action="/blogs/<%= blog._id %>/edit">
            <button type="submit">Edit</button>
        </form>
        
     </div>
     <br>
     <div>
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
     </div>
</body>
</html>